@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Karla:wght@400;700&display=swap');

body {
    font-family: 'karla';

    margin-top: 1rem;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 7rem;
    margin-right: 7rem;
}

nav .nav_left {
    display: flex;
    align-items: center: ;
    justify-content: space-evenly;
    gap: 0.7rem;
}





   .nav_left ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
    color: hsl(273, 4%, 51%);
   }

   .nav_left button {
    background: inherit;
    color: black;
    outline: none;
    border: 2px solid black;
    padding: 0.5rem 1rem;
   }

   .hero {
    margin-top: 2rem;
    height: 650px;
   }


   .hero_stn {
    display: block;
    align-items: center;
    justify-content: center;
    /* align-items: start; */
    position: relative;
   }

   .hero_stn .img_intro {
    position: relative;
    bottom: 23.5rem;
    left: 42rem;
    width: 75%;
    height: 75%;
   }

   .hero_stn .img_overlay {
    position: relative;
    bottom: 67.5rem;
    left: 57rem;
   }

   .first_section {
    align-items: center;
    justify-content: center;
    background-color: hsl(256, 26%, 20%);
    padding-top: 4rem;
    padding-bottom: 4rem;
   }

   .first_section h1 {
    line-height: 1;
    font-weight: 700;
    font-family: 'karla';
    font-size: 60px;
    margin-bottom: 18px;
    color: white;
    margin-left: 7rem;
   }

   .first_section p {
    font-weight: 400;
    font-family: 'karla';
    margin-top: 1.5rem;
    color: white;
    width: 40%;
    font-weight: 400;
    font-family: 'karla';
    margin-left: 7rem;
   }

   .first_section button {
    background: transparent;
    color: white;
    outline: none;
    border: 2px solid white;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'karla';
    margin-left: 7rem;
   }

   .about_section {
    margin-top: 4rem;
    margin-bottom: 5rem;
    margin-left: 7rem;
    margin-right: 7rem;
   }

   .about_section h1 {
    font-weight: 700;
    font-family: 'karla';
    font-size: 60px;
    margin-bottom: 4rem;
    margin-top: 7rem;
   }

   .snippet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-content: center center;
    margin-top: 2rem;
   }

   .CTA_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
    margin-top: 5rem;
    margin-bottom: 7rem;
    background-image: url(./images/bg-pattern-how-we-work-desktop.svg);
    background-color: hsl(256, 26%, 20%);
    background-position: right;
    background-repeat: no-repeat;
    padding: 2rem 0rem;
    margin-left: 7rem;
    margin-right: 7rem;
   }

   .CTA_section h1 {
    line-height: 1.4;
    font-weight: 700;
    font-family: 'karla';
    font-size: 50px;
    margin-bottom: 18px;
    width: 60%;
    color: white;
    margin-left: 5rem;
   }

   .CTA_section button {
    background: transparent;
    color: white;
    outline: none;
    margin-right: 5rem;
    border: 2px solid white;
    padding: 0.5rem 1rem;
   }

   .socials ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
   }

   footer {
    background-image: url(./images/bg-pattern-footer-desktop.svg);
    background-position: left;
    background-repeat: no-repeat;
    back
    margin-top: 8rem;
    background-color: hsl(0, 0%, 98%);
   }

   .footer_nav {
    padding-top: 4rem;
    margin-bottom: 1.5rem;
   }
   
    .bottom_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 7rem;
    margin-right: 7rem;
    }

    .bottom_section h3, li {
        text-transform: uppercase;
        font-family: 'karla';
        font-weight: 400;
    }

    .bottom_section h3 {
        margin-bottom: 1rem;
        font-size: 16px;
        color: hsl(273, 4%, 51%);
    }

    .snippet small {
        color: hsl(273, 4%, 51%);
    }

    
}